* {

    padding: 0;
    margin: 0;
}
h1 {
    color:blanchedalmond;

margin-top :5rem; 
margin-bottom:5rem ;
display:flex;
justify-content: center;

}
h1 {
    animation-duration: 2s;
    animation-name:aparecer;
    animation-iteration-count:infinite ;
}
@keyframes aparecer {
    0% {
      opacity:0 ;

    }


    100% {
        opacity:1 ;
    }
}







img {
    max-width: 100%;
}


body {
    background-color:rgb(56, 52, 56) ;
}


.grid {
display: grid;
grid-template-columns:1 , 1fr ;
grid-template-rows:4,1fr ;
}

@media screen and (max-width:460px) {
    body {
        background-color: brown;
    }
    
}
    
 


 header {
background-image:url(../img/fondo.jpg) ;
background-size: cover;

}


    




.fuente-media {

    font-size: 30px;
    
}

#lista-menu {
    font-size:30px ;
    
     
}


li a {
    color:rgb(220, 59, 85),
    
}
/**navegacion para poner horizontal en este caso el menu**/

h2 {
    color:rgb(222, 170, 179);
    display:flex;
    justify-content: center;
   
}
 .navegacion {
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
   margin-right:2.5rem;
    
    
}

.navegacion li {
color: rgb(252, 69, 99);
transition:6s ;
}
.navegacion li :hover {
    color:bisque ;
}



ul {
    color:rgb(244, 221, 249)
}

div {
color:rgb(221, 142, 241);
}

.aulas {
 display:flex;

margin-right: 2rem;
margin-left: 2rem;
   
}

.separados {
justify-content: space-between;

}

 
.imagen-align {
    display: flex;
    flex-direction: row;
    align-items: stretch;
   
}

.horror-orden {
    order:-2
}
 @media  screen and (max-width:460px) {
    .navegacion {
        display: flex;
        flex-direction: column;
    }

    
    
 }

 .caja-rosa {

    height: 200px;
    width:200px ;
    background-color: pink;
 }



 input:focus {
    width : 900px;
    

 }


 /*empieza clases*/

table {
    color:antiquewhite;
  }

  @media screen and (max-width:460px) {
    
  .table-viernes {
      width:250px ;
    -webkit-border-horizontal-spacing: 0.30px;
    -webkit-border-vertical-spacing: 3px;

  }
 .angosto {
    width:250px ;
    justify-content: center;
 }
  }


/*acá empieza Muestras */



.grilla {
    display: grid;
    grid-template-columns:3,1fr;
    grid-template-rows:300px 300px 1200px ;
   
    grid-template-areas:
    "galeria galeria  tienda"
    "galeria galeria tienda"
    "galeria galeria tienda"
     " footer footer footer"
  ;
   }

   .galeria {
    background-color: rgb(196, 103, 103);
    grid-area: galeria;
   }
   .tienda {
    grid-area: tienda;
   }

   .footer {
    background-color: rgb(154, 108, 197);
    grid-area:footer ;
   }
   

  .galeria {
    display: flex;
    flex-direction: column;
    
  
    width: 800px;
    height:320px;
  }
  
  
  
   .tienda {
    border:solid 2px rgb(245, 245, 245)
    
  }
  .tienda {
    display: flex;
    justify-content: center;
    background-image:linear-gradient(to left ,grey, rgb(226, 96, 117)) ;
  }
  
  .titulo-tienda {
    display :flex;
   justify-content:space-evenly;
  
  }
  .subtitulo-tienda {
    display: flex;
    justify-content:center;
    align-items: center;
  }


  /*muestrasb para dispoditivos medianos*/
  @media screen and (max-width: 768px) {
    body {
      background-color: rgb(186, 134, 235);
    }
  .grilla {
    display: grid;
    grid-template-columns:2, 1fr  ;
    grid-template-rows:5 , 1fr  ;
    grid-template-areas:
     }
  }

  .galeria {
    grid-area:galeria ;
    width:460px;
    height:1030px;

  }
  .tienda {
    grid-area:tienda ;
    width:511px ;
    height: 1307px ;
    margin-top:10px ;
    
  }
  .footer {
    grid-area: footer;
  }
  
  
  /*media querie para dispositivos pequeños muestras  */
   
   /*tienda*/
   @media screen and (max-width: 460px) {
    .galeria
     {
      width:98px;
     height:100px;
     display: flex;
     flex-direction: row;
    }
  
      .grilla{
       display: flex;
       flex-direction: column;
      }
  
      .tienda {
        width:500px ;
        height: 1775px ;
        margin-top:10px ;
        
      }
      .card-muestra{
        width:250px ;
        height:500px;
      margin-bottom:50px ;
      margin-right: 65px;
      
        
      }
      
    }
  





  /*contactos */

 

 .barra-progreso {
    margin-top: 30px;
    width: 100%;
    border:solid 2px ;
    height:7px;
 }
 .barra-completado {
   width: 100%;
    border:solid 2px ;
    height:6px;
    background-color: brown;
    animation:cargando 2s ;
 }
 @keyframes cargando {
    0% {
        width: o;
    }
    100% {
        width:30%;
    }
 }

#escribe-formulario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  

} 

.caja-mala {
  border:solid 0.20rem ;
   padding:4rem;
   display:inline-block;
   font-size:1.6rem ;
   width:1rem ;
   height:1rem;
   font-family:arial;
   overflow:visible;
   background-image:linear-gradient(to left ,grey, rgb(226, 96, 117)) ;
   }



 