
h1 {
    color:blanchedalmond;

margin-top :5rem; 
margin-bottom:5rem ;
display:flex;
justify-content: center;

}
h1 {
    animation-duration: 2s;
    animation-name:aparecer;
    animation-iteration-count:infinite ;
}
@keyframes aparecer {
    0% {
      opacity:0 ;

    }


    100% {
        opacity:1 ;
    }
}







img {
    max-width: 100%;
}


body {
    background-color:rgb(56, 52, 56) ;
}

@media screen and (max-width:400px) {
    body {
        background-color: brown;
    }
    
}
    
 


 header {
background-image:url(../img/fondo.jpg) ;
background-size: cover;

}


    




.fuente-media {

    font-size: 30px;
    
}

#lista-menu {
    font-size:30px ;
    
     
}


li a {
    color:rgb(220, 59, 85),
    
}
/**navegacion para poner horizontal en este caso el menu**/

h2 {
    color:rgb(222, 170, 179);
    display:flex;
    justify-content: center;
   
}
 .navegacion {
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
   margin-right:2.5rem;
    
    
}

.navegacion li {
color: rgb(252, 69, 99);
transition:6s ;
}
.navegacion li :hover {
    color:bisque ;
}



ul {
    color:rgb(244, 221, 249)
}

div {
color:rgb(221, 142, 241);
}

.aulas {
 display:flex;

margin-right: 2rem;
margin-left: 2rem;
   
}

.separados {
justify-content: space-between;

}

 
.imagen-align {
    display: flex;
    flex-direction: row;
    align-items: stretch;
   
}

.horror-orden {
    order:-2
}
 @media  screen and (max-width:400px) {
    .navegacion {
        display: flex;
        flex-direction: column;
    }

    
    
 }

 .caja-rosa {

    height: 200px;
    width:200px ;
    background-color: pink;
 }



 input:focus {
    width : 900px;
    

 }
 .barra-progreso {
    margin-top: 30px;
    width: 100%;
    border:solid 2px ;
    height:7px;
 }
 .barra-completado {
   width: 100%;
    border:solid 2px ;
    height:6px;
    background-color: brown;
    animation:cargando 2s ;
 }
 @keyframes cargando {
    0% {
        width: o;
    }
    100% {
        width:30%;
    }
 }


 